<h2>My Items for Sale</h2>

<% if current_admin? %>
<%= link_to 'Add new Item', new_admin_merchant_item_path(@merchant) %>
<% else %>
<%= link_to 'Add new Item', new_dashboard_item_path %>
<% end %>

<% @items.each do |item| %>
  <%= tag.div id: "item-#{item.id}" do %>
  <%= render partial: "/dashboard/items/item_card", locals: {item: item, img_width: 200} %>
  <% end %>
<% end %>