<h2><%= @item.name %></h2>

  <%= tag.div id: "item-#{@item.id}" do %>
  <%= render partial: "card", locals: {item: @item, img_width: 400}%>
  <p>Average time to fulfill: <%= @item.avg_fulfillment_time %>
  <% end %>
